{% extends 'base.html' %}
{% load youtube %}
{% block content %}
    <div id="news">
        <h1>{{ news.title }}</h1>
        <h2>{{ news.content|safe }}</h2>
        {% for video in news.videos %}
            <p>{% youtube video.media_id %}</p>
        {% endfor %}
    </div>
    <div id="comments">
        {% for comment in news.comments %}
            <h3>por {{ comment.name }} - {{ comment.created_at|date:"l, d/N/Y, H:i" }}</h3>
            <p>{{ comment.comment }}</p>
        {% endfor %}
    </div>
    <div id="form">
        <form action="." method='POST' class='form'>
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <p class="error">Preecha o campo: {{ field.label_tag }}</p>
                {% endif %}
                {{ field.label_tag }}<br/>
                {{ field }}<br/>
            {% endfor %}
            <input type="submit" value="Enviar!" class="button">
        </form>
    </div>
{% endblock content %}