{% extends 'base.html' %}
{% load youtube %}
{% block content %}

    {% for news in news %}
        <h1><a href="{% url news:news_detail news.slug %}" class="news_title">{{ news.title }}</a></h1>
        <h3>Publicado em: {{ news.created_at|date:"l, d/N/Y, H:i" }}</h3>
        <h2>{{ news.content|safe }}</h2>

        {% for video in news.videos %}
            <p class="video">{% youtube video.media_id %}</p>
        {% endfor %}
    {% empty %}
        <p> Não há notícias.</p>
    {% endfor %}
    <div class="fb-like" data-href="http://www.charlessartori.com/" data-send="false" data-width="450" data-show-faces="true"></div>

{% endblock content %}
