{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
        <h1>Nome</h1> <h3>{{ user.name }}</h3>
        <h1>Site</h1> <h3>{{ user.url }}</h3>
        <h1>Mora em</h1> <h3>{{ user.city }} - {{ user.state }}</h3>
        <h1>Data de Nascimento</h1> <h3>{{ user.birthday }}</h3>
        <h2>{{ user.description|linebreaks }}</h2>
    {% endfor %}
{% endblock content %}