{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
        {% for contact in user.contacts %}
            {% if contact.kind == 'E' %}
                <h1>E-mail</h1><h3>{{ contact.value }}</h3>
            {% endif %}
            {% if contact.kind == 'F' %}
                <h1>Facebook</h1><h3>{{ contact.value }}</h3>
            {% endif %}
            {% if contact.kind == 'P' %}
                <h1>Telefone</h1><h3>{{ contact.value }}</h3>
            {% endif %}
            {% if contact.kind == 'S' %}
                <h1>Skype</h1><h3>{{ contact.value }}</h3>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <form action="." method="POST" class="form">
        {% csrf_token %}
        {% for field in form %}
                {% if field.errors %}
                    <p class="error">Preecha o campo: {{ field.label_tag }}</p>
                {% endif %}
                {{ field.label_tag }}:<br/>
                {{ field }}<br/>
        {% endfor %}
        <input type="submit" value="Enviar!" class="button">
    </form>


{% endblock content %}