{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
        {% for course in user.courses %}
            <h1>{{ course.date|date:"Y" }} -{{ course.title }}</h1>
            <h3>Local:</h3>{{ course.local }}
            <h3>Duração</h3>{{ course.duration }}
        {% endfor %}
    {% endfor %}
{% endblock content %}