{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
        {% for skill in user.skills %}
            <h1>{{ skill.title }} - <font color=white>{{ skill.level }}</font></h1>
            <h3>{{ skill.description }}</h3>
        {% endfor %}
    {% endfor %}
    <p>B=Básico | I=Intermediário | A=Avançado</p>
{% endblock content %}