* {
    margin: 0 auto;
    padding: 0;
}

/************BEGIN Body********************
*******************************************/
body {

    background: #f1ffed;

}
a { font-size: 10pt;}
a:link { color: #5a6480; }
a:visited { color: #5a6480; }
a:focus { color: #7f92b7; }
a:hover { color: #7f92b7; }
a.news_title {
    background: #c2d3dc;
    padding: 5px;
    font-size: 16pt;
    font-weight: 700;
    letter-spacing: -2px;
    color: #13318c;
}

/************END Body*******************************************/

/************BEGIN Header******************
*******************************************/
#header {
    border-bottom: 5px solid rgb(0, 112, 150);
    padding-top: 20px;
    background-image: url(../img/back2.png)
}

#header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 50px;
    color: #007198;
    letter-spacing: -7px;
    text-align: center;
    margin: 50px auto;
    text-shadow: 2px 2px 5px #009FD8;
}
#header #img_contacts {
    padding-left: 70%;
}
/************END Header*******************************************/



/************BEGIN menubar********************
*******************************************/
#menu {
    margin: 0 auto;
    width: 800px;
}

#menubar {
    margin: 0;
    padding: 0;
}

#menubar li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 20pt verdana;
}

#menubar li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    background: rgb(0, 112, 150);
    color: #FFFFFF;
    text-align: center;
    text-decoration: none
}

#menubar li a:hover {
    background: rgb(0, 162, 221);
}

#menubar div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #000000
}

#menubar div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #000000;
    font: 11px arial
}

#menubar div a:hover{
    background: rgb(0, 162, 221);
    color: #FFF
}

#m3 #login {
    text-align: right;
    font-size: 10pt;
}

#separador {
    width: 300px;
}

/************END menubar*******************************************/

/************BEGIN Content*****************
*******************************************/

#container {
    width: 90%;
    margin: 10px auto;
}

#content {
    width: 800px;
    padding-top: 40px;
    padding-bottom: 20px;
}


#content h1 {
    background: #c2d3dc;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1.5px solid white;
    font-size: 16pt;
    font-weight: 700;
    letter-spacing: -2px;
    color: #13318c;

}
#content h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font: 10pt tahoma;

}
#content h3 {
    background: #dae8d6;
    font: 12px verdana;
    color: black;
    padding: 3px;
}
#content p {
    padding-top: 20px;
}
#content p.error {
    color: #ce0000;
}

.fb-like {
    padding-top: 10px;
    width: 800px;
    border-top: 2px solid gray;
}

#news {
    border-bottom: 2px solid gray;
}
#form {
    padding-top: 10px;
}
#comments {
    padding-top: 20px;
}
#comments p{
    padding-left: 10px;
    padding-bottom: 10px;
}

/************END Content*******************************************/

/************BEGIN Footer*****************
*******************************************/
#footer {
    width: 800px;
    font-size: 8pt;
    color: #bababa;
    border-top: 1px solid gray;
    text-align: center;
}

/************END Footer*******************************************/
